body {
    background-color: #3F4F44;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.column-1 {
    padding: 1em;
    margin-left: 20%;
    width: 60%;
    text-align: center;
}

.column-full {
    padding: 1em;
    margin-left: 5%;
    width: 90%;
}

h1, h2 {
    text-align: center;
    color: #DCD7C9;
}

.form-label {
    color: #F5ECD5;
}

.navbar {
    background-color: #2C3930;
}

.nav-item {
    color: #A27B5C !important;
}

.nav-item:hover {
    color: #DCD7C9 !important;
}

.form-control {
    background-color: #2C3930;
    border: none;
    color: #DCD7C9;
    border-radius: 0px;
    padding: 0.5em;
}

.form-control:focus {
    background-color: #2C3930;
    color: #DCD7C9;
    box-shadow: 0px 0px 0px 3px #A27B5C inset;
}

.btn {
    color: #A27B5C;
    background-color: #2C3930;
    border: none;
    border-radius: 0px;
    padding: 0.5em;
    width: 100%;
}

.btn:hover {
    color: #DCD7C9;
    background-color: #A27B5C;
}

.btn:active {
    color: #DCD7C9 !important;
    background-color: #A27B5C !important;
    box-shadow: 0px 0px 0px 3px #2C3930 inset;
}

.link {
    color: #A27B5C;
    text-decoration: none;
    background-color: #2C3930;
    padding: 0.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
    text-align: center;
}

.link-container {
    display: flex;
}

.logs {
    width: 20%;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.link:hover {
    color: #DCD7C9;
    background-color: #A27B5C;
}

.link:active {
    box-shadow: 0px 0px 0px 3px #2C3930 inset;
}

pre {
    background-color: #2C3930;
    color: #DCD7C9;
    padding: 1rem;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
}